#app {
    background-color: #4f5050;
    color: #fda136;
    font-family: Lato;
    height: 100vh;
}
a{
    color: #fda136;
    font-family: Lato;
    font-weight: 200;
}
button {
    background-color: #fda136;
    color: #4f5050;
}
button:hover{
    background-color: #dc7702;;
}
.card-header {
    background-color: #fda136;
    color: #4f5050;
}
.btn-link {
    color: #dc7702;
}
.btn-link:hover {
    color: #fda136;
}