#app {
    background-color: #4f5050;
    color: #fda136;
    font-family: Lato;
    height: 100vh;
}
a{
    color: #fda136;
    font-family: Lato;
    font-weight: 200;
}
button {
    background-color: #fda136;
    color: #4f5050;
}
button:hover{
    background-color: #dc7702;;
}
.card-header {
    background-color: #fda136;
    color: #4f5050;
}
.btn-link {
    color: #dc7702;
}
.btn-link:hover {
    color: #fda136;
}
.content {
    margin: 50px;
}
.welcome {
    text-align: center;
    padding-left: 30px;
}
nav {
    padding: 30px;
}
nav h3{
    font-weight: 200;
}
.page-intro {
    text-align: center;
}
.main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -80%);
    float: left;
    padding-bottom: 30px;
}
#quiz-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: left;

}
.main-content a{
    color: #fda136;
}
.main-content a:hover{
    text-decoration: none;
    color: #dc7702;
}
#results-intro{
    padding-bottom: 40px;
}
.card{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    float: left;
}
.card p {
    padding-left: 15px;
}
.form-group h3 {
    padding-right: 20px;
}
label {
    padding-right: 15px;
}
